.img-carrito{
    width: 100px;
    height: 100px;
  }

li {
    list-style: none;
}

.li-carrito{
    display: flex;
    align-items: center;
    
    border: 1px solid #000;
    margin-left: -35px;
}


.btnDel{
    border: none;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    
}
