.img-carrito{
    width: 100px;
    height: 100px;
  }

li {
    list-style: none;
}

.li-carrito{
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #000;
    margin-left: -35px;
}

