.global{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.navBar{
    position: fixed;
    width: 100%;
    z-index: 500;
}

a{
    text-decoration: none;
    
}

nav{
    background: #111010;
    height: 80px;
    width: 100%;
}

.enlace {
    position: relative;
    margin-right: -50px;
    float: left;
    
    
}

.logo{
    height: 80px;
    width: 350px;
}

nav ul {
    float: left;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    margin-top: 10px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #fff;
    transition: .2s;
    
}

.checkBtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section{
    background-color: ur;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
        margin: auto;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkBtn{
        display: block;
        
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0.8;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .enlace{
        display: none;
    }
}
